<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Blood Donation</display-name>
  <servlet>
  	<servlet-name>HomeController</servlet-name>
  	<display-name>HomeController</display-name>
  	<description></description>
  	<servlet-class>web.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomeController</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>
