<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">

  <display-name>Blood Donation</display-name>
  <!-- Filters -->
  <filter>
  	<display-name>AuthGuard</display-name>
  	<filter-name>AuthGuard</filter-name>
  	<filter-class>web.middleware.AuthGuard</filter-class>
  </filter>
  
   <filter-mapping>
  	<filter-name>AuthGuard</filter-name>
  	<url-pattern>/donor/*</url-pattern>
	<url-pattern>/center/*</url-pattern>
	<url-pattern>/hospital/*</url-pattern>
	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<display-name>AlreadyLoged</display-name>
  	<filter-name>AlreadyLoged</filter-name>
  	<filter-class>web.middleware.AlreadyLoged</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>AlreadyLoged</filter-name>
  	<url-pattern>/login</url-pattern>
  </filter-mapping>
  
  <filter>
  	<display-name>IsDonor</display-name>
  	<filter-name>IsDonor</filter-name>
  	<filter-class>web.middleware.IsDonor</filter-class>
  </filter>
  
   <filter-mapping>
  	<filter-name>IsDonor</filter-name>
  	<url-pattern>/donor/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<display-name>IsAdminCenter</display-name>
  	<filter-name>IsAdminCenter</filter-name>
  	<filter-class>web.middleware.IsAdminCenter</filter-class>
  </filter>
  
   <filter-mapping>
  	<filter-name>IsAdminCenter</filter-name>
  	<url-pattern>/center/*</url-pattern>
  </filter-mapping>
  
    <filter>
  	<display-name>IsAdminHospital</display-name>
  	<filter-name>IsAdminHospital</filter-name>
  	<filter-class>web.middleware.IsAdminHospital</filter-class>
  </filter>
  
   <filter-mapping>
  	<filter-name>IsAdminHospital</filter-name>
  	<url-pattern>/hospital/*</url-pattern>
   </filter-mapping>
   
   <filter>
    	<display-name>IsTested</display-name>
    	<filter-name>IsTested</filter-name>
    	<filter-class>web.middleware.IsTested</filter-class>
    </filter>
  
   <filter-mapping>
   	<filter-name>IsTested</filter-name>
   	<url-pattern>/donor/requirements</url-pattern>
   </filter-mapping>
   
   <filter>
   	<display-name>CanSchedule</display-name>
   	<filter-name>CanSchedule</filter-name>
   	<filter-class>web.middleware.CanSchedule</filter-class>
   </filter>
   
   <filter-mapping>
   	<filter-name>CanSchedule</filter-name>
   	<url-pattern>/donor/schedule</url-pattern>
   </filter-mapping>
  
  
  <servlet>
  	<display-name>AuthController</display-name>
  	<servlet-name>AuthController</servlet-name>
  	<servlet-class>web.controllers.Center.AuthController</servlet-class>
  </servlet>
    
  <!-- Servlets -->
  
  <!-- Guest -->
  <servlet>
  	<display-name>GuestController</display-name>
  	<servlet-name>GuestController</servlet-name>
  	<servlet-class>web.controllers.Center.GuestController</servlet-class>
  </servlet>
  
  <!-- Donor -->
  <servlet>
  	<display-name>UserController</display-name>
  	<servlet-name>UserController</servlet-name>
  	<servlet-class>web.controllers.UserController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/register</url-pattern>
  	<url-pattern>/register2</url-pattern>
  </servlet-mapping>
    
  <servlet>
  	<display-name>DonorController</display-name>
  	<servlet-name>DonorController</servlet-name>
  	<servlet-class>web.controllers.DonorController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DonorController</servlet-name>
  	<url-pattern>/donor</url-pattern>
  	<url-pattern>/donor/menu</url-pattern>
  	<url-pattern>/donor/profile</url-pattern>
  	<url-pattern>/donor/profile/edit</url-pattern>
  	<url-pattern>/donor/password</url-pattern>
  	<url-pattern>/donor/logout</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<display-name>DonorAppointmentController</display-name>
  	<servlet-name>DonorAppointmentController</servlet-name>
  	<servlet-class>web.controllers.Donor.AppointmentController</servlet-class>
  </servlet>
  
  <servlet-mapping>
   	<servlet-name>DonorAppointmentController</servlet-name>
   	<url-pattern>/donor/schedule/cancal</url-pattern>
   	<url-pattern>/donor/schedule/save</url-pattern>
   	<url-pattern>/donor/schedule</url-pattern>
   	<url-pattern>/donor/reschedule</url-pattern>
   	<url-pattern>/donor/manage</url-pattern>
   	<url-pattern>/donor/history</url-pattern>
   	<url-pattern>/donor/feedBack</url-pattern>
   	<url-pattern>/donor/requirements</url-pattern>
  </servlet-mapping>
  
  <!-- Center -->
  <servlet>
  	<display-name>HomeController</display-name>
  	<servlet-name>CenterHomeController</servlet-name>
  	<servlet-class>web.controllers.Center.HomeController</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>DashboardController</display-name>
  	<servlet-name>DashboardController</servlet-name>
  	<servlet-class>web.controllers.Center.DashboardController</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>AppointmentController</display-name>
  	<servlet-name>AppointmentController</servlet-name>
  	<servlet-class>web.controllers.Center.AppointmentController</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>AnalysisController</display-name>
  	<servlet-name>AnalysisController</servlet-name>
  	<servlet-class>web.controllers.Center.AnalysisController</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>DemandController</display-name>
  	<servlet-name>DemandController</servlet-name>
  	<servlet-class>web.controllers.Center.DemandController</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>TaskController</display-name>
  	<servlet-name>TaskController</servlet-name>
  	<servlet-class>web.controllers.Center.TaskController</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>ProfileController</display-name>
  	<servlet-name>ProfileController</servlet-name>
  	<servlet-class>web.controllers.Center.ProfileController</servlet-class>
  </servlet>
  
  <servlet>
  	<display-name>InventoryController</display-name>
  	<servlet-name>InventoryController</servlet-name>
  	<servlet-class>web.controllers.Center.InventoryController</servlet-class>
  </servlet>
  
</web-app>
